html {
  background-color: #272c2e;
}

canvas {
  position: absolute;
}

h1,p {
  margin: 0;
  padding: 0;
}

a {
 color: #FFFFFF3D;
}

#caption {
  color: #FFFFFF7D;
  font-family: Sans-Serif;
  position: absolute;
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-top: 30px;
  margin-left: 30px;
  z-index: 100;
}

#fine {
  color: #FFFFFF3D;
  margin-top: 0.3em;
  font-size: 0.8em;
}
